<%= form_with(model: @blog, local: true) do |form| %>
  <div class="blog_content">
    <p><%= form.text_area :content, placeholder: "いまなにしてる？", size: "30x10" %></p>
  </div>
  <%= form.submit %>
<% end %>
